#top-header-div {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(-25deg, #ffffff 50%, #113559 50%);
  min-height: 100px;
}

#header-logo-div {
  padding: 20px 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

#header-navbar {
  a {
    margin-right: 10px;
    font-weight: bold;
  }
  margin: 40px 30px;
  a:link, a:visited, a:hover, a:active {
    color: #FFFFFF;
    text-decoration: none;
  }
}

#nav-bar-main {
  background-color: #113559;
  background-image: -webkit-linear-gradient(-25deg, #113559 30%, #0a2b4a 30%);
  min-height: 60px;

  img {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    //margin-bottom: 30px;
    //margin-right: 11px;
  }

  #phone-table {
    display: inline-block;
    margin-top: 5px;
    color: #ffffff;

    td {
      padding-left: 10px;
      a:link, a:visited, a:hover, a:active {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }
}

.navbar-default {
  background-color: transparent;
  border: 0 transparent;
  padding-top: 13px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #6082bb;
  font-weight: bold;

  a {
    background-color: transparent!important;
    color: #6082bb!important;
  }

  .active > a {
    background-color: transparent!important;
    color: #ffffff!important;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px; /* bottom = footer height */
}

#main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;

  padding: 4rem;
  background-color: #1f2226;
  color: #ffffff;

  a:hover, a:visited, a:link, a:active {
    color: #ffffff;
  }

}
